{{!-- <img src="{{picture}}" alt="Event picture" class="profile-picture"> --}}
<h2>{{title}} by {{eventCreator.username}}</h2>
<p>Date: {{date}}</p>
<p>Location: {{location}}</p>
<p>Music genre: {{genre}}</p>
<p>Description: {{description}}</p>

{{!-- <form action="organic-event/edit/{{_id}}" method="post">
    <button type="submit">Edit</button>
</form> --}}

<a href="/organic-event/full-list" class="btn">Grab your ticket</a>
