{{!-- this page will be used to display a user info from the explore page --}}
<div class="profile">
    <h1>{{firstName}} || {{lastName}}</h1>
    <img src="{{avatar}}" alt="image of user avatar">
    <h3>{{location}}</h3>
    <p>{{description}}</p>
    <p>{{genres}}</p>
    <p>{{favArtist}}</p>
    <p>{{festivals}}</p>
    <p>{{organicEvents}}</p>
</div>

<div class="logout">
    <a href="/explore" class="btn">back to explore</a>
    <form action="/explore/profile/{{_id}}" method="post">
    <button type="submit" class="btn">Follow</button>
    </form>
</div>
