<h2>Events created by users</h2>

<ul>
    {{#each orgEvents}}
        <li>{{title}} by: {{eventCreator.username}}</li>
        <a href="/organic-event/details/{{_id}}">Details</a>
    {{/each}}
</ul>

<div class="events">
<h2>Events near you - from TicketMaster</h2>

{{#each apiEvents._embedded.events}}
<div class="eventcard">
<h2>{{this.name}}</h2>
<img src="{{images.3.url}}" alt="image of the event">
<p>date: {{dates.start.localDate}}</p>
<a href='{{url}}' class="btn" target="_blank">See more</a>
</div>
{{/each}}


</div>